body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

p{
    font-size: 18px;
    color: #333;
    
}

.greeting {
    font-size: 24px;
    margin-bottom: 10px;
}

.name {
    font-size: 18px;
    color: #666;
}
